html {
  box-sizing: border-box;
  font-family: 'Bevan', sans-serif;
  background-color: #dbd6cf;
  line-height: 1.5;
  margin: 0 auto;

}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0 auto;
}

header {
  background-color: #595652;
  border: .7em .0em;
  margin: .1em;
  padding: .05em .0em;
  text-align: center;
}

div {
  background-color: #79756f;
  margin: .3em .0em;
  text-align: center;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  color: #fff;
  font-family: "Bevan", sans-serif;
}



nav li {
  font-weight: bold;
  font-size: 1.125rem;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  font-family: none;
  margin: 0;

}

a {
  color: #fff;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  display: inline;
  text-decoration: none;
  background-color: #713837;
  padding: .6em .5em .75em;
  margin: .3em;
  border-radius: .3em;
  border: 0;
  display: block;
}

a:hover {
  color: #b42885;
  background-color: #f33;
  text-align: center;
}
