html {
  box-sizing: border-box;
  font-family: Bevan, serif;
  background-color: #dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;

}

header {
  background-color: #595652;
  border: .7em 0;
  margin: 0;
  padding: .05em 0;
  text-align: center;
}

div {
  background-color: #79756f;
  margin: .1em 0;
  text-align: center;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  color: #fff;
  font-family: Bevan, serif;
  margin: 0;
}

nav li {
  font-weight: bold;
  font-size: 1.125rem;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  list-style-type: none;
  font-family: none;
  margin: 0 0 .1em;
  padding: 0;
  border: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  background-color: #713837;
  padding: .6em .5em .75em;
  margin: .3em 0;
  border-radius: .3em;
  border: 0;
  display: block;
  font-family: sans-serif;
}

a:hover {
  color: #b42885;
  background-color: #f33;
  text-align: center;
}
